@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.DiaChi = 5;
}

<style>
    .img-home {
        width: 100%;
        height: 100%;
    }

    .centered {
        width: 80%;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<h2>Trang chủ</h2>
<div class="col-md-12" style="background-color: rgb(245, 245, 245)">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="row">
            <div class="row col-md-3">
                <img class="img-home" src="https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/Tulip-Hotel-1-1.png">
            </div>
            <div class="row col-md-3">
                <img class="img-home" src="https://new-wordpress.s3.amazonaws.com/tulipgroup/wp-content/uploads/2020/05/06083631/Tulip-1.jpg">
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="row">
            <div class="row col-md-3">
                <img class="img-home" src="https://new-wordpress.s3.amazonaws.com/tulipgroup/wp-content/uploads/2020/05/06083726/Tulip-2.jpg">
            </div>
            <div class="row col-md-3">
                <img class="img-home" src="https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/Tulip-hotel-2-1.png">
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="row">
            <div class="row col-md-3">
                <img class="img-home" src="https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/Tulip-hotel-3-1.png">
            </div>
            <div class="row col-md-3">
                <img class="img-home" src="	https://new-wordpress.s3.amazonaws.com/tulipgroup/wp-content/uploads/2020/05/06083735/Tulip-3.jpg">
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="col-md-12" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4" style="margin-left:-20px">
                    <img class="img-home" src="https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/564x752.jpg">
                    <div class="centered" style="background-color: #fff">
                        <h4 style="font-weight: bold">Ẩm thực</h4>
                        <span>Nếu không ăn uống tử tế, người ta làm sao có thể suy nghĩ, yêu đương và nghỉ ngơi tử tế</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="centered" style="background-color: #fff">
                        <h4 style="font-weight: bold">Phong cảnh</h4>
                        <span>Đích đến của chúng ta không phải là một vùng đất, mà là một cách nhìn mới.</span>
                    </div>
                    <img class="img-home" src="	https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/sightseeings.jpg">
                </div>
                <div class="col-md-4">
                    <div class="centered" style="background-color: #fff">
                        <h4 style="font-weight: bold">Hoạt động</h4>
                        <span>Cuộc sống hoặc là một chuyến phiêu lưu táo bạo, hoặc không là gì cả.</span>
                    </div>
                    <img class="img-home" src="	https://www.tuliphotelgroup.com/wp-content/uploads/2020/05/2c1332339b6cd9958b967d0d143be66a-1.jpg">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="col-md-12">
    <div style="font-weight: bold; font-size: 20px">
        <div style="text-align: center;width: 700px; margin: auto" class="big">Chào mừng quý khách đến với Hệ thống khách sạn Tulip. Với nhiều lợi thế về địa điểm (tất cả các chi nhánh đều toạ lạc tại trung tâm), kinh nghiệm (hơn 15 năm hình thành và phát triển), và nhiệt huyết của cán bộ nhân viên, chúng tôi tin tưởng sẽ là sự lựa chọn lý tưởng cho kỳ nghỉ của bạn tại thành phố Đà Lạt nên thơ.</div>
    </div>
    <br />
    <hr style="width: 500px;"/>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29793.9804531252!2d105.81636411466529!3d21.022778419218064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9bd9861ca1%3A0xe7887f7b72ca17a9!2zSMOgIE7hu5lpLCBIb8OgbiBLaeG6v20sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1683171447951!5m2!1svi!2s" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>