<div class="footer">
    <div class="wrap-footer">
        <div class="cot-footer">
            <h4>Thông Tin</h4>
            <ul>
                <li><a href="#">Quản Lý Khách Sạn</a></li>
                <li><a href="#">Hỗ Trợ Khách Hàng</a></li>
                <li><a href="#">Mời Bạn Bè</a></li>
                <li><a href="#">Tư Vấn</a></li>
            </ul>
        </div>
        <div class="cot-footer">
            <h4>Tin Tức</h4>
            <ul>
                <li><a href="#">Tin Tức Khách Sạn</a></li>
                <li><a href="#">Có Gì Mới</a></li>
                <li><a href="#">Điều Khoản</a></li>
                <li><a href="#">Dịch Vụ</a></li>
            </ul>
        </div>
        <div class="cot-footer">
            <h4>Liên Hệ</h4>
            <ul>
                <li><a href="#">SĐT: 0328758787</a></li>
                <li><a href="#">Gmail: WH.KnightZ</a></li>
            </ul>
            <div class="fanpage">
                <h4>Fanpage</h4>
                <ul>
                    <li><a href="https://fb.com/WH.KnightZ"><img src="~/Content/images/sticker_facebook.png" /></a></li>
                    <li><a href="https://www.youtube.com/channel/UCyRY53rs_lgyJ-p3PzZj0Og"><img src="~/Content/images/sticker_youtube.png" /></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>