@using QuanLyKhachSan.Models.Entities

<style>
    a.log-out:hover {
        color: #c19c78 !important;
    }
</style>

<div class="wrap" style="background-color: #452b1c">
    <a href="/"><img src="~/Content/images/logo.png" width="284" height="189" /></a>
    @if (Session["TaiKhoan"] == null)
    {
        <div class="dang-nhap">
            <label style="color: #ddae68; font-">Chào Khách!</label>
            <a class="log-out" style="color: white" href="/CaNhan/DangNhap">Đăng Nhập</a>
        </div>
    }
    else
    {
        <div class="dang-nhap">
            <label style="color: #ddae68; font-">Chào @(((TaiKhoan)Session["TaiKhoan"]).HoTen)!</label> &nbsp;&nbsp;
            <a class="log-out" style="color: white" href="/CaNhan/DangXuat">Đăng Xuất</a>
        </div>
    }
    <div class="header">
        <div class="header_bottom">
            <div class="menu">
                <ul style="white-space: nowrap">
                    <li id="li-5"><a href="/HomePage/Index">Trang Chủ</a></li>
                    <li id="li-0"><a href="/TrangChu/TrangChu">Loại phòng</a></li>
                    <li id="li-1"><a href="/DatPhong/DSPhong">Đặt Phòng</a></li>
                    <li id="li-2"><a href="/CaNhan/CaNhan">Cá Nhân</a></li>
                    <li id="li-3"><a href="/TrangChu/TinTuc">Khuyến mãi</a></li>
                    <li id="li-6">@*<a href="/TrangChu/KeHoachPhong">Kế hoạch phòng</a>*@</li>
                    <li id="li-4">@*<a href="/TrangChu/LienHe">Liên Hệ</a>*@</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.DiaChi == null) { ViewBag.DiaChi = 5; }

<script>
    var li = document.getElementById('li-@ViewBag.DiaChi');
    li.classList.add('active');
</script>