<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Quản Lý Khách Sạn</title>
    <link rel="Stylesheet" href="/Content/css/bootstrap.min.css" />
    <link rel="Stylesheet" href="/Content/css/style.css" />
</head>
<body>
    @Html.Partial("_Header")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
</html>
