<div class="wrap header_slide">
    <div class="header_bottom_left">
        <div class="danh-muc">
            <h3>Danh Mục</h3>
            <ul class="danh-muc-lst">
                <li><a href="/CaNhan/CaNhan">Thông Tin Cá Nhân</a></li>
                <li><a href="/CaNhan/LichSu">Lịch Sử Đặt Phòng</a></li>
                <li><a href="#">Gửi Báo Cáo</a></li>
                <li><a href="#">Chia Sẻ</a></li>
            </ul>
        </div>
    </div>
</div>